<div>
  <!--places: {{places | json}}-->
  <mat-nav-list *ngIf="places && places.length > 0">
    <mat-list-item *ngFor="let place of places; let i = index" (click)="onItemClick(place)">
      <img matListAvatar id="place-icon" src="{{place.icon}}">
      <i *ngIf="getOpenStatusIcon(place) === 'lock'" class="fa fa-lock"></i>
      <i *ngIf="getOpenStatusIcon(place) != 'lock'" class="fa fa-unlock"></i>
      <h3 matLine>{{place.name}}</h3>

      <div matLine>Distance:</div>
      <div matLine>Rating: {{place.rating}}/5</div>
    </mat-list-item>
  </mat-nav-list>

</div>
