<p>
  dupa!
</p>
<div>
  Places list
  <!--<md-list>-->
    <!--<h2 md-subheader>Your places</h2>-->
    <!--<md-list-item *ngFor="let place of userPlacesList">-->
      <!--<md-icon md-list-icon>person_pin_circle</md-icon>-->
      <!--<h4 md-line>{{place.name}}</h4>-->
      <!--<p md-line>{{place.city}}, {{place.street}} {{place.streetNr}}</p>-->
      <!--<button md-raised-button (click)="_details(place)">-->
        <!--Details-->
      <!--</button>-->
    <!--</md-list-item>-->

    <!--<md-divider></md-divider>-->

    <!--<h2 md-subheader>All places</h2>-->
    <!--<md-list-item *ngFor="let place of allPlacesList">-->
      <!--<md-icon md-list-icon>place</md-icon>-->
      <!--<h4 md-line>{{place.name}}</h4>-->
      <!--<p md-line>{{place.street}} {{place.streetNr}}</p>-->
      <!--<div class="button-placeholder"></div>-->
    <!--</md-list-item>-->


</div>
