html[dir="rtl"] .icon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

i{
  padding-right: 2vw;
  cursor: pointer;
}
.navigation-title {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  background: #f5f5f5;
  opacity: 1;
  z-index: 999;
}

#toolbar-placeholder {
  height: 1px;
  margin-bottom: 50px;
}

